.header h1 {
  margin: 30px 0;
}

.airport {
  margin: 10px 0px;
  border: 1px solid gray;
  border-radius: 5px;
  padding: 5px;
}

.airport:hover {  
  cursor: pointer;
  background-color: honeydew;
}

.airport__code {
  width: 40px;
  display: inline-block;
  
}
