body {
  background-color: #F0F3F5;
}

.section__container {
  background-color: white;
  border-radius: 5px;
}

.header h1 {
  margin: 30px 0 20px 0;
}

.header h2 {
  margin: 20px 0 20px 0;
}

.header__link {
  color: black;
}

.header__link:hover {
  text-decoration: none;
  color: black;
}

.airport {
  margin: 10px 0px;
  border: 1px solid gray;
  border-radius: 5px;
  padding: 5px;
}

.airport:hover {  
  cursor: pointer;
  background-color: #F6F9FC;
}

.airport__code {
  width: 40px;
  display: inline-block;
  
}
